<!DOCTYPE html>
<html>
<head>
  <base href="{{{baseHref}}}" />
  <meta charset="UTF-8">
  <meta name="description" content="Code speccing tool that can generate code for apps, APIs, websites and games using any language or framework." />
  <meta property="og:url" content="https://editor.zappjs.com" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Editor | ZappJS - Write Specs, Generate Code" />
  <meta property="og:description" content="Code speccing tool that can generate code for apps, APIs, websites and games using any language or framework." />
  <meta property="og:image" content="https://zappjs.com/images/logo.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js" type="text/javascript"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-100756188-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-100756188-2');
  </script>
  <title>Editor | ZappJS</title>
</head>
<body>
  <div id="app"></div>
  <script src="index.js"></script>
</body>
</html>
